<section id="title" class="emerald custom-emerald" style="margin-top:90px;" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Rules</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                </ul>
            </div>
        </div>
    </div>
</section>

<br>

<div class="container" style="min-height:650px;">

		<div class="row">
			<div class="col-xs-6 col-md-2">
			</div>
			<div class="col-xs-6 col-md-8 back-grey">
                <h3>Betting</h3>
                <p>Betting here is purely recreational and not intended for any profit.</p>
				<p>Betting is based on <strong>EPL</strong> matches starting from August 16</p>
                <p>Users should predict the outcome of each match that is put up for betting,
                And he also has to choose the amount of coins to place in each bet.</p>
                <p> All new users will be provided with 1000 coins for betting.</p>
                <p> Only the amount of coins one owns can be used to place bets.</p>
                <p> If a user predicts the correct outcome of the game, he will be provided 
                with reward coins that adds up to your account.</p>
                <p>Use the link <strong>Bet Results</strong> to see your position in the 
                coins table</p>
                <br>
                <h3>Leagues</h3>
                <p> Each user can create 5 Leagues. And invite people to join either via the link provided or by using social media</p>
                <p> Any random user can request to join a random league by sending a <strong>Join Request</strong> in the respective league in leagues. But he/she will
                be added only if the admin of the league accepts the request.</p>
			</div>
		</div>
	</div>

