<section id="title" class="emerald custom-emerald" style="margin-top:90px;" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="color:#2C3446;">Rules</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <% if current_user %>
                        <li><a href="/home" style="color:#428bca;">Home</a></li>
                    <% else %>
                        <li><a href="/" style="color:#428bca;">Home</a></li>
                    <% end %>
                    <li>Rules</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<br>

<div class="container" style="min-height:650px;">

        <div class="col-xs-6 col-md-12 back-grey">
        <section id="faqs" class="container">
        <ul class="faq unstyled">
            <h3>Betting</h3>
            <li>
                <span class="number">01</span>
                <div>
                    <p><em>Betting here is purely recreational and not intended for any profit.</p>
                </div>
            </li><br>
            <li>
                <span class="number">02</span>
                <div>
                    <p>Betting is based on <strong>EPL</strong> matches starting from August 16</p>
                </div>
            </li><br>
            <li>
                <span class="number">03</span>
                <div>
                    <p>Users should predict the outcome of each match that is put up for betting,
                And he also has to choose the amount of coins to place in each bet.</p>
                </div>
            </li><br>
            <li>
                <span class="number">04</span>
                <div>
                    <p> All new users will be provided with 1000 coins for betting.</p>
                </div>
            </li><br>
            <li>
                <span class="number">05</span>
                <div>
                    <p> Only the amount of coins one owns can be used to place bets.</p>
                </div>
            </li><br>
            <li>
                <span class="number">06</span>
                <div>
                    <p> If a user predicts the correct outcome of the game, he will be provided 
                with reward coins that adds up to your account.</p>
                </div>
            </li><br>
            <li>
                <span class="number">07</span>
                <div>
                    <p>Use the link <strong>Bet Results</strong> to see your position in the 
                coins table.</em></p>
                </div>
            </li><br>
        </ul><br>

        <ul class="faq unstyled">
            <h3>League</h3>
            <li>
                <span class="number">01</span>
                <div>
                    <p> <em>Each user can create 5 Leagues. And invite people to join either via the link provided or by using social media</p>
                </div>
            </li><br>
            <li>
                <span class="number">02</span>
                <div>
                    <p> Any random user can request to join a random league by sending a <strong>Join Request</strong> in the respective league in leagues.</p>
                </div>
            </li><br>
            <li>
                <span class="number">02</span>
                <div>
                    <p>He/she will be added to the league only if the admin of the league accepts the request..</p>
                </div>
            </li><br>
        </ul>
    </section><!--#faqs-->

    </div>
</div>

