<section id="title" class="emerald custom-emerald" style="margin-top:90px;" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="color:#2C3446;">Rules</h1>
            </div>
            <div class="col-sm-6">
                <ul class="breadcrumb pull-right">
                    <% if current_user %>
                        <li><a href="/home" style="color:#428bca;">Home</a></li>
                    <% else %>
                        <li><a href="/" style="color:#428bca;">Home</a></li>
                    <% end %>
                    <li>Rules</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<br>

<div class="container" style="min-height:650px;">

		<div class="row">
			<div class="col-xs-6 col-md-2">
			</div>
			<div class="col-xs-6 col-md-8 back-grey">
				
			</div>
		</div>
	</div>

