.error{
	color: red;
}

textarea {
    max-width: 800px; 
    max-height: 300px;
}

textarea {
    resize: none;
}


.pie {
	width: 400px;
}

.content{
	margin-top: 10px;
	margin-left:20px;
	min-height: 40px;
	width: 600px;
}
.content p{
	padding-top: 10px;
	padding-left: 10px;
	color: blue;
}

.created_at{
	margin-left: 200px;
}

.fullname{
	margin-left: 30px;
	color: red;
}

.right{
	margin-left:200px;
}

 .a_right{
	margin-left:220px;
}

.border{
	border: 2px solid;
}

.span_right{
	margin-left:30px;
}

.span_down{
	padding-left: 15px;
}

.liked, .disliked{
	 opacity: 0.4;
}

.comment_right{
	margin-left: 190px;
}


a{
	color: red !important;
}

.hidden {
	display: none;
}

div.red{
	color: red
}


.coin_text{
	color:#886A08;
	font-weight:700;
}

.vs_image{
	height:50px;
	width:50px;
	margin-top:80px;
	margin-left: 50px;
}

.team_image{
	 height:200px;
	 width:200px;
	 margin-left: 30px;
}

.text-large{
	font-size:20px;
	font-weight:700;
	}

.coin_text{
	color:#886A08;
	font-weight:700;

}

.sec_last{
	margin-left: 487px;
}

